<div class="field-container {% if is_checkbox %}checkbox-container{% endif %} field-container-{{ field.name }} {{ inject_placeholder|yesno:"with-placeholder,without-placeholder" }} {% if field.field.required %}required{% endif %}">
    {% if is_checkbox %}
        <label><span class="checkbox-widget">{{ field }}</span> <span class="checkbox-label">{{ field.label }}</span></label>
    {% else %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="field">{{ field }}</div>
    {% endif %}
    {% if field.errors %}
        <div class="error">{{ field.errors|join:", " }}</div>
    {% endif %}
</div>
