{% load form_renderer %}

{% if form.non_field_errors %}
    <ul class="non-field-errors">
        {% for error in form.non_field_errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% for field_group_name, fields in field_groups.iteritems %}
    <div class="field-group field-group-{{ field_group_name }} field-group-size-{{ fields|length }} {% if fields|length > 1 %}multiple-fields{% endif %}">
    {% for field in fields %}
        {% render_field field inject_placeholder=field.inject_placeholder %}
    {% endfor %}
    </div>
</div>
{% endfor %}

{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}
